<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <input
        id="input-name"
        type="text"
        placeholder="Ім'я"
        name="input-name"
        value=""
      />
      <button id="say-hello-button">Привітатись</button>
      <p id="massage"></p>
      <a href="/all_names/1">Всі імена</a>
    </div>
  </body>
</html>
